* {
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
    background-color: burlywood;
    font-family: sans-serif;

}
ul{
    margin-left: 30px;
    list-style-type: upper-latin;
    list-style-position: outside;
    
}
