body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 300px;
    border: 2px solid black;
    padding: 10px;
    
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text4{
    width: 100px;
    height: 100px;

    width: 60px;
    height: 60px;
    border: 2px solid blue;
}